/* FONTS
font-family: 'Playfair Display', serif;
*/
/* COLORS 
#3B2E48 black from shirt
#CA2E32 red from shirt
#c8a899 gold from shirt
*/

@keyframes fadeinall {
  0% {
    opacity: 1;
  }
  97% {
    opacity: 0;
  }
  98% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: -1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

body {
  background-color: #f8f9fa;
  color: black;
  font-family: "Playfair Display", serif;
}

svg {
  width: 3rem;
  height: auto;
}

.ross {
  color: #c8a899;
}

.ross-jumbo-img {
  display: inline-block;
  width: 90%;
  height: auto;
  border-radius: 5px;
  position: relative;
  right: 3rem;
}

.star {
  position: relative;
  bottom: 110px;
  left: 55%;
}

.im-ross-williams {
  display: inline-block;
  font-size: 0.5rem;
}

.welcome-text {
  display: inline-block;
}

.welcome-top {
  display: inline-block;
  position: relative;
  bottom: 2rem;
}

.drives-header {
  animation: 1s ease-in forwards fade-in;
  font-size: 0.8rem;
  font-style: italic;
}

.drives {
  position: absolute;
  left: 12rem;
  font-size: 0.8rem;
}

.excellence,
.creativity,
.challenges,
.arrow {
  display: none;
  animation: 2s ease-in-out forwards fade-in;
}
.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 20px;
  height: 20px;
  top: 11rem;
  left: 5rem;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-right: 2px #c8a899 solid;
  border-bottom: 2px #c8a899 solid;
}

.arrow:before {
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-right: 1px #c8a899 solid;
  border-bottom: 1px #c8a899 solid;
  animation-name: fade-in, arrow;
  animation-duration: 2s, 2s;
  animation-iteration-count: 1, infinite;
  animation-timing-function: ease-in-out, linear;
}

.projects {
  text-decoration: 1px underline;
  text-decoration-color: #c8a899;
  margin-bottom: 0;
}
